<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <header>
        <div th:replace="~{nav.html :: navbar}"></div> 
    </header>
    <main>
        <ul class="card">
            <li th:each="item : ${items}">
                <div class="card-item">
                    <a class="detail_link" th:href="@{/detail/{id}(id=${item.id})}">
                        <img src="https://placehold.co/300">
                        <div class="card-detail">
                            <h4 th:text="${item.title}"></h4>
                            <p th:text="${item.price}"></p>
                        </div>
                    </a>
                    <p class="edit_link">
                        <a th:href="@{/update/{id}(id=${item.id})}">✏️</a>
                    </p>
                </div>
            </li>
        </ul>
    </main>
</body>
</html>